@media screen and (min-width:900px) {
    body {
      background-color:red;
    }
  .menu {
    display:none !important;
  }
  .menu > span {
    display:none;
  }
  nav > ul {
    height:60px !important;
    flex-direction: row;
  }
  nav > ul > li a {
    widows: 140px !important;
    height:60px;
  }





}
