*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  transition:.5s;
  font-family:'Helvetica', sans-serif;
  font-weight:600;
}
body {
  width:100%;
  overflow-x: hidden;
}
header {
  background-color:black;
  height:100vh;
  position:relative;
}
header>div {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:1;
}
nav {
  position:fixed;
  left:0;
  top:0;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
nav > ul > li > a {
  margin-left:20px;
  display:block;
  height:20px;
  border:1px solid grey;
  z-index: 3;
  width:20px;
  border-radius:100%;
  animation:1s pop-in ease-out;
}
/*
nav > ul > li:nth-child(1) > a {
  animation:1s pop-in ease-out;
  animation-delay:0s;
  opacity:1;
}
nav > ul > li:nth-child(2) > a {
  animation:1s pop-in ease-out;
  animation-delay:.5s;
}
nav > ul > li:nth-child(3) > a {
  animation:1s pop-in ease-out;
  animation-delay:1s;
}
nav > ul > li:nth-child(4) > a {
  animation:1s pop-in ease-out;
  animation-delay:1.5s;
}
nav > ul > li:nth-child(5) > a {
  animation:1s pop-in ease-out;
  animation-delay:2s;
} */
section {
  height:100vh;
  width:100%;
  overflow:hidden;
  background:url('../img/c-texture-2.jpg');
  position:relative;
}
.bcgimg {
  position:absolute;
  z-index: 0;
  opacity:.6;
}
.txt > h2 {
  font-size:48px;
  text-transform:uppercase;
  letter-spacing:2px;
}
.txt > p {
  margin:20px 0;
  font-weight:100;
  font-size:20px;
  line-height:1.5;
}
section > .txt {
  margin:40px 100px;
  position:absolute;
  width:30%;
  height:40vh;
  color:white;
}
section > .txt:nth-child(3) {
  right:0;
  bottom:0;
}
.galwrap {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  height:100%;
}
.galwrap > div {
  width:50%;
  height:50%;
  overflow:hidden;
}
.galwrap > div > img {
  width:100%;
  opacity:.6;
}
.galwrap img:hover {
  opacity:1;
}
.audiowrap {
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  height:70vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin:0 100px;
}
.audiowrap > div {
  height:170px;
}
.audiowrap > div > img {
  position:absolute;
  left:0;
  z-index:0;
}
.video {
  width:100%;
  background-color:grey;
  height:100vh;
}
.audiowrap > div > button {
  position:absolute;
  left:10px;
  height:40px;
  width:40px;
  margin:55px 20px;
  z-index: 2;
  font-size:40px;
  background:0;
  border:0;
  color:white;
  outline:0;
  display:none;
}
.active-btn {
  display:block !important;
}
.audiowrap > div > h4 {
  color:White;
  margin-bottom:5px;
  letter-spacing: 1.5px;
}
::selection {
  background-color:orange;
  color:black;
}
@keyframes pop-in {
  0%{
    transform:translateX(-300%);
    opacity: 0;
  }
  100%{
    transform:translateX(0);
  }
}
